* {
    box-sizing: border-box;
}
html {
    height:100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin:0px;
    background-color: #ccc;
    border: 1px solid #000;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color:#eee;
}
header div{
    display:flex;
    gap:0.5rem;
    align-items:center;
}

header div .hamburguer-buttons{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    width: 48px;
    height:48px;
    padding:0.25rem;
}
header div .hamburguer-buttons div {
    background-color: #eee;
    height:0.20rem;
    border-radius: 3px;
}

header div h1 {
    margin:0px
}

header nav {
    display:block;
    min-height: 0px;
    max-height: 100vh;
    overflow:hidden;
    transition: max-height 0.5s ease-in-out;
}

header nav.hidden {
    max-height: 0px;
}

header nav ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

header nav ul li {
    width:100%;
    border-bottom: 1px solid #ccc;
}

header nav ul li a {
    display:inline-block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #eee;
}

/* Responsive Design */
/* Mobile Fisrt*/
@media (min-width:720px) {
    header {
        flex-direction: row;
        justify-content: space-between;
    }
    header div .hamburguer-buttons{
        display: none;
    }
    header nav.hidden {
        max-height: 100vh;
    }
    header nav ul {
        display: flex;
        align-items: center;
    }
    header nav ul li {
        border-bottom: none;
        width:auto;
    }
}


main {
 flex:1;
}

main .hero {
    position:relative;
    width:100%;
    height: 80vh;
    min-height: 320px;
    max-height: 480px;
    overflow: hidden;
}

main .hero div {
     width:100%;
    height: 80vh;
    min-height: 320px;
    max-height: 480px;
}
main .hero div img{
    width:100%;
    height:100%;
    object-fit: cover;
}

main .hero .action-panel{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color:#FFF;
    max-width:280px;
    max-height: 280px;
    transform:translate(-50%, -50%);
    padding: 1rem;
    border-radius: 17px;
    box-shadow: 3px 3px 5px #000;
}

@media (min-width:720px) {
    main .hero .action-panel.q2{
        top: 25%;
        left: 75%;
        transform:translate(-50%, -25%);
    }
}

footer {

}