* {
    box-sizing: border-box;
}
html {
    height:100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin:0px;
    background-color: #ccc;
    border: 1px solid #000;
}

header {
    display: flex;
    flex-direction: column;
    background-color: #000;
    color:#eee;
}
header div{
    display:flex;
    gap:0.5rem;
    align-items:center;
}

header div .hamburguer-buttons{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: normal;
    width: 48px;
    height:48px;
    padding:0.25rem;
}
header div .hamburguer-buttons div {
    background-color: #eee;
    height:0.20rem;
    border-radius: 3px;
}

header div h1 {
    margin:0px
}

header nav ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

header nav ul li {
    width:100%;
    border-bottom: 1px solid #ccc;
}

header nav ul li a {
    display:inline-block;
    padding: 0.5rem 0.75rem;
    text-decoration: none;
    color: #eee;
}


main {
 flex:1;
 
}

footer {
 
}